body {
  font-family: sans-serif;
  color: rgba(40, 40, 40, 1)
}

#main {
  width: 500px;
  height: 300px;
  padding-top: 20px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: 1px solid #E7E7E7;
  box-shadow: 2px 2px 4px #E7E7E7;
  background: white;
}

#bg::after {
  content: "";
  background: url(http://res.cloudinary.com/dbeva6z07/image/upload/v1442984327/1957_connecting_nodes_eihkgw.png);
  background-size: cover;
  opacity: 0.45;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

h1 {
  font-size: 32px;
  margin-bottom: 24px;
}

h3 {
  font-weight: 400;
  margin-bottom: 25px;
}

#content {
  margin-top: 25px;
}

.toggle {
  border-bottom: 2px solid #E7E7E7;
  padding-bottom: 2px;
  border-radius: 3px;
}

.toggle:hover {
  cursor: pointer;
  border-bottom: 2px solid #2EB82E;
}

#title {
  font-size: 16px;
  font-weight: 700;
  margin-top: -15px;
}

.big {
  font-size: 20px;
}
